<div style="display: flex">
  <button
    (click)="cambiarColor('#ffcccc')"
    style="background-color: #ffcccc"
    id="boton1"
  >
    Click me!
  </button>
  <button
    (click)="cambiarColor('#ccffcc')"
    style="background-color: #ccffcc"
    id="boton2"
  >
    Click me!
  </button>
  <button
    (click)="cambiarColor('#ccccff')"
    style="background-color: #ccccff"
    id="boton3"
  >
    Click me!
  </button>
  <button
    (click)="cambiarColor('#ccffff')"
    style="background-color: #ccffff"
    id="boton4"
  >
    Click me!
  </button>
</div>
